.border {
    border: 1px solid var(--color-gray-300);
}

.border-letf {
    border-left: 1px solid var(--color-gray-300);
}

.border-right {
    border-right: 1px solid var(--color-gray-300);
}

.border-bottom {
    border-bottom: 1px solid var(--color-gray-300);
}

.border-top {
    border-top: 1px solid var(--color-gray-300);
}

.border-none {
    border: none;
}

.border-radius-small {
    border-radius: 8px;
}

.border-radius-medium {
    border-radius: 16px;
}

.border-radius-large {
    border-radius: 32px;
}

.border-radius-full {
    border-radius: 50%;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}