.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--color-white);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--color-white);
}

.btn-success {
  background-color: var(--success);
  color: var(--color-white);
}

.btn-info {
  background-color: var(--info);
  color: var(--color-white);
}

.btn-warning {
  background-color: var(--warning);
  color: var(--color-white);
}

.btn-light {
  background-color: var(--light);
  color: var(--color-black);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--color-white);
}

.btn-transparent {
  background-color: transparent;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover {
  opacity: 0.8;
}

.btn-transparent:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:active {
  opacity: 0.6;
}

.btn-icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  font-size: 1rem;
}

.activity {
  position: absolute;
  top: 4px;
  right: 4px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  background-color: red;
  color: white;
  border-radius: 8px;
  font-size: 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 10;
}

.btn-icon-sm {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hover:hover {
  background-color: var(--color-gray-200);
  opacity: 0.8;
}

.pointer {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}