* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.snackbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  animation: slideInFadeOut 3s ease forwards;
}

/* Show animation */
@keyframes slideInFadeOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px);
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;

  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the container */
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  margin-top: 10px;
  z-index: 1000;
}

.dropdown-content-left {
  position: absolute;
  background-color: #f9f9f9;
  left: 200px;
  margin-top: 10px;
  z-index: 1000;
}

.dropdown-content.hover{
  display: none;
}

.dropdown:hover .dropdown-content.hover{
  display: block;
}

.image-preview-container {
  position: relative;
  display: inline-block;
}

.image-preview {
  width: 250px;
  border-radius: 8px;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: var(--color-gray-100);
  color: var(--color-dark);
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 16px;
  z-index: 10;
}

.profile-img-lg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-sm {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-xsm {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

